[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TSdisaggregation"]
	path = TSdisaggregation
	url = https://github.com/cran/TSdisaggregation
